{% extends "main.html" %}

{% import "partials/nav-item.html" as item with context %}
{% import "partials/language.html" as lang with context %}

{% block container %}
  <div class="md-content md-content--post" data-md-component="content">
    {% if nav %}
      {% if page.meta and page.meta.hide %}
        {% set hidden = "hidden" if "sidebar" in page.meta.hide %}
      {% endif %}
      <div class="md-sidebar md-sidebar--post" data-md-component="sidebar" data-md-type="navigation" {{ hidden }}>
        <div class="md-sidebar__scrollwrap">
          <div class="md-sidebar__inner md-post">
            {% include "partials/nav.html" %}
            {% if "toc.integrate" in features %}
              {% include "partials/toc.html" %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    <article class="md-content__inner md-typeset">
      {% block content %}
        {% set post = page %}
        {% include "blog/card-full.html" %}
        {% set posts = [] %}
        {% for post in page.blog.posts if page.url != post.url and post.config.type == page.config.type %}
          {% set index = loop.index %}
          {% for category in page.config.categories[0:1] if category in post.config.categories %}
            {% set na = posts.insert(index, post) %}
          {% else %}
            {% if not page.config.categories %}
              {% set na = posts.insert(index, post) %}
            {% endif %}
          {% endfor %}
        {% endfor %}

        {% if posts %}
          <hr/>
          <h3 id="related-items">RELATED ITEMS</h3>
          {% set full = 1 %}
          {% set limit = 5 %}
          {% if post.config.type == "kb" %}
            {% set type = "kb" %}
          {% endif %}
          {% include "blog/cards.html" %}
        {% endif %}
      {% endblock %}

      {% include "partials/comments.html" %}
    </article>
  </div>
{% endblock %}

{% block hero %}
  {% if page.meta.hero and page.meta.hero.messages %}
    {% set item = page.meta.hero.messages|first %}
    {{ super() }}
  {% elif page.meta.image %}
    <div class="hero md-typeset">
      <div class="hero__inner" data-md-color-scheme="{{ page.meta.scheme }}">
        <div class="default large">{{ page.title }}</div>
        {% if page.meta.type in ["maintenance", "event"] and page.config.start | date == page.config.end | date %}
          <div class="default medium">{{ page.config.start | date }}</div>
        {% elif page.meta.type in ["maintenance", "event"] %}
          <div class="primary medium" style="text-transform: uppercase">
            {{ page.config.start | date("d MMMM") }} - {{ page.config.end | date("d MMMM") }}
          </div>
        {% endif %}
        {% if page.meta.description %}
          <div class="default small">{{ page.meta.description }}</div>
        {% endif %}
      </div>
      {% if page.meta.hero and page.meta.hero.backdrop %}
        {% set image = page.meta.hero.backdrop %}
      {% elif page.meta.image %}
        {% set image = page.meta.image %}
      {% else %}
        {% set image = "assets/images/backdrop.png" %}
      {% endif %}
      <img src="{{ image | url }}" alt="backdrop"/>
    </div>
  {% endif %}
{% endblock %}
