{% extends "main.html" %}

{% block hero %}
  {% if page.meta.hero and page.meta.hero.messages %}
    {% set item = page.meta.hero.messages|first %}
    {{ super() }}
  {% else %}
    <div class="hero md-typeset">
      <div class="hero__inner" data-md-color-scheme="{{ page.meta.scheme }}">
        <div class="default large">{{ page.title }}</div>
        {% if page.meta.type in ["maintenance", "event"] and page.config.start | date == page.config.end | date %}
          <div class="default medium">{{ page.config.start | date }}</div>
        {% elif page.meta.type in ["maintenance", "event"] %}
          <div class="primary medium" style="text-transform: uppercase">
            {{ page.config.start | date("d MMMM") }} - {{ page.config.end | date("d MMMM") }}
          </div>
        {% endif %}
        {% if page.meta.description %}
          <div class="default small">{{ page.meta.description }}</div>
        {% endif %}
      </div>
      {% if page.meta.hero and page.meta.hero.backdrop %}
        {% set image = page.meta.hero.backdrop %}
      {% elif page.meta.image %}
        {% set image = page.meta.image %}
      {% else %}
        {% set image = "assets/images/backdrop.png" %}
      {% endif %}
      <img src="{{ image | url }}" alt="backdrop"/>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if "back" not in hide|default(page.meta.hide) %}
    <div class="md-nav__title md-nav__container">
      <a href="{{ page.parent.url | url }}" class="md-nav__link">
        {% include ".icons/material/arrow-left.svg" %}
        <span class="md-ellipsis">{{ lang.t("blog.index") }}</span>
      </a>
      <hr/>
    </div>
  {% endif %}
  {% set post = page %}
  {% include "blog/card-full.html" %}
  {% set posts = [] %}
  {% for post in page.blog.posts if page != post and post.config.type == page.config.type and page.config.categories|first in post.config.categories %}
    {% set na = posts.insert(loop.index, post) %}
  {% endfor %}

  {% if posts %}
    <h2 id="related-items">RELATED ITEMS</h2>
    {% set full = 1 %}
    {% set limit = 5 %}
    {% include "blog/cards.html" %}
  {% endif %}
{% endblock %}
