{% set posts = [] %}
{% for post in page.blog.posts if post.config.type == "event" and "HPC School" %}
  {% set na = posts.insert(loop.index, post) %}
{% endfor %}

{% set url_prefix = "blog/" %}

{% if posts %}
  {% set event = posts|first %}
  {% if event.config.end >= now() %}
    {% set hide = page.meta.hide %}
    {% set page = event %}
    {% extends "blog-post.html" %}
  {% else %}
    {% set posts = [] %}
    {% for post in page.blog.posts if post.config.type == "event" and "HPC School" in post.config.categories %}
      {% set na = posts.insert(loop.index, post) %}
    {% endfor %}
    {% extends "blog.html" %}
  {% endif %}
{% endif %}
