{% extends "main.html" %}

{% set posts = [] %}
{% for post in page.blog.posts if post.config.type == "event" and "HPC School" in post.config.categories and not post.config.end < now() %}
  {% set na = posts.insert(loop.index, post) %}
{% endfor %}

{% if posts %}
  {% set page = posts|first %}
{% endif %}

{% block content %}
  {% if posts %}
    {% set post = page %}
    {% set landing = True %}
    {% include "partials/event.html" %}
  {% else %}
    {{ super() }}
    <h2>Past Events</h2>
    <div class="grid cards">
      <ul>
        {% for post in page.blog.posts if post.config.type == "event" and "HPC School" in post.config.categories %}
          <li>{% include "partials/event.html" %}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}
