{% extends "main.html" %}

{% block content %}
  <div class="landing">
    {{ super() }}

    <section class="alternate">
      <h2>Latest News & Events</h2>
      {{ events() }}
    </section>
    {##}
    {#    <section class="primary">#}
    {#      <h2 style="text-transform: uppercase">Partners</h2>#}
    {#    </section>#}
    {##}
    {#    <section class="secondary">#}
    {#      <h2 style="text-transform: uppercase">Success Stories</h2>#}
    {#      <div class="grid cards">#}
    {#        <ul>#}
    {#          <li></li>#}
    {#          <li></li>#}
    {#          <li></li>#}
    {#        </ul>#}
    {#      </div>#}
    {#    </section>#}
    {##}
    {#    <section class="primary">#}
    {#      <h2 style="text-transform: uppercase">Partners</h2>#}
    {#    </section>#}
    {##}
    {#    <section class="secondary">#}
    {#      <h2 style="text-transform: uppercase">Community</h2>#}
    {#    </section>#}
  </div>
{% endblock %}

{% macro events(type = None, limit = 7) %}
  {% set posts = [] %}

  {% if type %}
    {% for post in page.blog.posts if post.config.type in type %}
      {% set na = posts.insert(loop.index, post) %}
    {% endfor %}
  {% else %}
    {% set posts = page.blog.posts %}
  {% endif %}

  {% include "blog/cards.html" %}
{% endmacro %}
