@font-face {
  font-family: "AvenirNext Bold";
  src: url('/assets/fonts/AvenirNext-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "AvenirNext Medium";
  src: url('/assets/fonts/AvenirNext-Medium.ttf') format('truetype');
}

@font-face {
  font-family: "AvenirNext Regular";
  src: url('/assets/fonts/AvenirNext-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Gilroy Bold";
  src: url('/assets/fonts/Gilroy-Bold.woff2') format('woff2');
}

[data-md-color-scheme] {
  --md-primary-fg-color--light: color-mix(in srgb, var(--md-primary-fg-color) 75%, transparent);
  --md-primary-fg-color--lighter: color-mix(in srgb, var(--md-primary-fg-color) 50%, transparent);
  --md-primary-fg-color--lightest: color-mix(in srgb, var(--md-primary-fg-color) 25%, transparent);
  --md-primary-bg-color--light: color-mix(in srgb, var(--md-primary-bg-color) 75%, transparent);
  --md-primary-bg-color--lighter: color-mix(in srgb, var(--md-primary-bg-color) 50%, transparent);
  --md-primary-bg-color--lightest: color-mix(in srgb, var(--md-primary-bg-color) 25%, transparent);
  --md-accent-fg-color--light: color-mix(in srgb, var(--md-accent-fg-color) 75%, transparent);
  --md-accent-fg-color--lighter: color-mix(in srgb, var(--md-accent-fg-color) 50%, transparent);
  --md-accent-fg-color--lightest: color-mix(in srgb, var(--md-accent-fg-color) 25%, transparent);
  --md-accent-bg-color--light: color-mix(in srgb, var(--md-accent-bg-color) 75%, transparent);
  --md-accent-bg-color--lighter: color-mix(in srgb, var(--md-accent-bg-color) 50%, transparent);
  --md-accent-bg-color--lightest: color-mix(in srgb, var(--md-accent-bg-color) 25%, transparent);
  --md-typeset-a-hover-color: color-mix(in srgb, var(--md-typeset-a-color) 75%, transparent);
}

[data-md-color-scheme]:not([data-md-color-scheme="slate"]) img[src$="#only-dark"],
[data-md-color-scheme]:not([data-md-color-scheme="slate"]) img[src$="#gh-dark-mode-only"],
[data-md-color-scheme="slate"] img[src$="#only-light"],
[data-md-color-scheme="slate"] img[src$="#gh-light-mode-only"] {
  display: none;
}

.md-header {
  color: #fafafa;
  background: #1a1a1a;

  .md-header__title {
    margin-right: 2em;
    font-family: "AvenirNext Bold", "Gilroy Bold", Lato, sans-serif;
    text-rendering: geometricPrecision;
    z-index: 1;

    .md-header__topic {
      display: contents;
    }
  }

  .md-search__form {
    background-color: unset;
    border: .05em solid #fafafa;
    border-radius: .125rem;

    ::placeholder, .md-search__icon {
      color: #fafafaa8;
    }
  }

  .md-header__option {
    color: #fafafaa8;
  }

  .md-tabs {
    color: #fafafa;
    background: unset;
    font-weight: 700;

    .md-tabs__list {
      .md-tabs__link {
        position: relative;
        text-decoration: none;
        font-size: .75rem;
      }

      .md-tabs__link::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--md-typeset-a-color);
        transform: scaleX(0);
        transition: transform 0.3s ease !important;
      }

      .md-tabs__link:hover::before {
        transform: scaleX(1);
      }

      li:last-child {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}

.md-sidebar {
  z-index: 1;

  .md-nav__title {
    background: none;
    box-shadow: none;
  }
}

section.primary {
  background-color: var(--md-default-bg-color);
  box-shadow: 35px 0 0 0 var(--md-default-bg-color), -35px 0 0 0 var(--md-default-bg-color);
  padding: .5rem 0;

  h2 {
    margin: .5rem 0;
    font-size: 2em;
    text-transform: uppercase;
  }
}

section.secondary {
  background-color: var(--md-accent-bg-color);
  box-shadow: 35px 0 0 0 var(--md-accent-bg-color), -35px 0 0 0 var(--md-accent-bg-color) !important;
  padding: .5rem 0;

  h2 {
    margin: .5rem 0;
    font-size: 2em;
    text-transform: uppercase;
  }
}

.md-typeset {
  text-rendering: geometricPrecision;

  a:hover, button:hover {
    color: var(--md-typeset-a-hover-color);
  }

  table:not([class]) {
    background-color: var(--md-default-bg-color--light);
  }

  pre {
    border: .05rem solid var(--md-primary-fg-color--lighter);
    border-radius: .125rem;

    nav, code {
      background-color: var(--md-default-bg-color--light);
    }
  }

  .admonition {
    background-color: var(--md-default-bg-color--light);
  }

  h1 {
    font-family: "AvenirNext Bold", "Gilroy Bold", Lato, sans-serif;
    color: var(--md-default-fg-color);
    font-size: 1.85em;
  }

  h2, h3, h4, h5, h6 {
    font-family: "Gilroy Bold", Lato, sans-serif;
  }
}

.md-nav--primary .md-nav__title[for=__drawer] {
  background-color: #1a1a1a;
}

.badge {
  border-radius: .125em;
  display: inline-block;
  font-weight: 700;
  padding-left: .5714285714em;
  padding-right: .5714285714em;
  margin-left: 0;
}

.badge.badge--default {
  background-color: var(--md-default-fg-color);
  color: var(--md-default-bg-color);
}

.badge.badge--primary {
  background-color: var(--md-primary-fg-color);
  color: var(--md-primary-bg-color);
}

.badge.badge--accent {
  background-color: var(--md-accent-fg-color);
  color: var(--md-accent-bg-color);
}

.badge.badge--success {
  background-color: #40982c;
  color: #fff;
}

.badge.badge--warning {
  background-color: #dd9a1d;
  color: #fff;
}

.badge.badge--danger {
  background-color: #ff1744;
  color: #fff;
}

.badge.badge--info {
  background-color: #227a95;
  color: #fff;
}

.badge.badge--light {
  background-color: #7a7a7a;
  color: #fff;
}

.table {
  display: table !important;
  width: 100%;
  margin: 0 !important;

  .row {
    display: table-row;

    .cell {
      display: table-cell;
      vertical-align: middle;
      padding: .5rem .3rem;

      .md-icon {
        opacity: .75;
        margin-right: .1rem;

        svg {
          max-width: unset;
        }
      }
    }
  }
}

.grid.cards > ol > li, .md-typeset .grid.cards > ul > li, .md-typeset .grid > .card,
.grid.cards > ol > li:hover, .md-typeset .grid.cards > ul > li:hover, .md-typeset .grid > .card:hover {
  border-color: var(--md-default-fg-color--lightest);
  background: var(--md-default-bg-color--light);
}

.flex {
  display: flex;
  align-items: center;
}

.md-banner {
  position: relative;
  z-index: 2;
  background: var(--md-accent-fg-color);
  color: var(--md-accent-bg-color);

  .md-banner__content {
    text-align: center;
  }
}

.hero {
  display: flex;
  background-color: var(--md-default-fg-color);

  img {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    filter: brightness(0.25);
    box-shadow: 0 .1rem .2rem 0 var(--md-footer-bg-color);
  }

  .hero__attribution {
    background-color: var(--md-default-bg-color--lightest);
    color: var(--md-default-bg-color--light);
    border-top-left-radius: .25rem;
    padding: 0 .2rem;
    font-size: .6rem;
    position: absolute;
    right: 0;
    align-self: end;
    z-index: 1;

    a {
      color: var(--md-default-bg-color--light);
      font-style: italic;
      font-weight: 700;
    }
  }

  .hero__inner {
    margin-top: 40px;
    position: absolute;
    width: 100%;
    text-align: center;
    align-self: center;
    z-index: 1;
    font-family: "AvenirNext Bold", "Gilroy Bold", Lato, sans-serif;
    text-rendering: geometricPrecision;

    .small {
      font-size: clamp(.6rem, 2.5vw, .9rem);
    }

    .medium {
      font-size: clamp(1rem, 2.5vw, 1.3rem);
    }

    .large {
      font-size: clamp(1.3rem, 2.5vw, 2.5rem);
    }

    .default {
      color: var(--md-accent-bg-color);
    }

    .primary {
      color: var(--md-primary-fg-color);
    }

    .secondary {
      color: var(--md-accent-fg-color);
    }

    .md-button {
      margin-top: 1em;
      color: var(--md-primary-bg-color);
      background: var(--md-primary-fg-color);
      font-size: clamp(.6rem, 2.5vw, .9rem);
      padding: clamp(.2em, 2.5vw, .625em) clamp(1.5em, 2.5vw, 2em);
    }

    .md-button:hover {
      background: var(--md-accent-fg-color);
    }
  }
}

.md-header:has(~ .md-container .hero) {
  background-color: color-mix(in srgb, #1a1a1a 75%, transparent);
  position: absolute;
  top: 0;
}

.box {
  border: .05rem solid var(--md-primary-fg-color--lighter) !important;
  border-radius: .125rem;
  background-color: var(--md-default-bg-color--light);
}

.box:hover {
  box-shadow: var(--md-shadow-z2);
}

a:not([href]) {
  color: var(--md-default-fg-color);
}

.md-source-file {
  float: right;
  opacity: .7;
}


.author {
  .author__title {
    font-weight: 700;
    margin-left: .2rem;
  }

  .author__description {
    margin-top: .2rem;
  }
}

ul.author__list {
  display: flex !important;
  margin: 0 !important;
  padding: 0 !important;

  li.author__item:first-child {
    margin: 0;
  }

  li.author__item {
    margin: 0 0 0 -15px;
    border: 2px solid var(--md-default-bg-color);
    border-radius: 9999px;
    width: 45px;
    height: 45px;
    overflow: hidden;
    transition: border 300ms !important;

    &:hover {
      border: 2px solid var(--md-accent-fg-color);
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }
}


.sponsor {
  .sponsor__title {
    font-weight: 700;
    margin-left: .2rem;
  }

  .sponsor__description {
    margin-top: .2rem;
  }
}

ul.sponsor__list {
  display: flex !important;
  margin: 0 !important;
  padding: 0 !important;

  li.sponsor__item:first-child img {
    margin: 0;
  }

  li.sponsor__item {
    display: contents;
    margin: 0;

    img {
      margin-left: .2rem;
      width: auto;
      height: 45px;
    }
  }
}

@media screen and (max-width: 480px) {
  .mobile-hide {
    display: none !important;
  }
}

.post {
  .post__image {
    border-radius: .125em;
    width: 100%;
    height: 234px;
    border: 1px solid var(--md-default-fg-color--lightest);
    margin-bottom: .2rem;
    background-color: #fafafa;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .post__image--thumbnail {
    width: 112px;
    height: 63px;
    margin-right: .5rem;
    border: 1px solid var(--md-default-fg-color--lightest);
    background-color: #fafafa;
    border-radius: .125em;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .post__badge {
    top: -.25rem !important;
    left: -.25rem !important;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--md-default-fg-color);
    color: var(--md-default-bg-color);
    font-weight: 700;
    padding: .5rem;
    border: 1px solid var(--md-default-bg-color--light);
    border-radius: .125em;
    line-height: 1.3em;

    .post__badge--inner {
      .post__badge--seperator {
        margin: 0 .4rem;
      }

      .post__badge--large {
        font-size: 1.5em;
      }

      .post__badge--section {
        text-align: center;
      }
    }
  }

  .post__speakers {
    display: flex;
  }

  .post__registration {
    display: flex;

    .post__registration--link {
      margin-left: .25rem;
      display: block;
      border-radius: .25em;
      border: 1px solid var(--md-default-fg-color--lightest);
      background: var(--md-default-bg-color);
      width: 100px;
      height: 115px;
      transition: border 300ms !important;
      text-align: center;
      overflow: hidden;

      .post__registration--title {
        font-size: .45rem;
        font-weight: 900;
        line-height: 1.2em;
        padding: .3rem 0;
        background-color: var(--md-default-fg-color);
        color: var(--md-default-bg-color);
        text-transform: uppercase;
      }

      .post__registration--image {
        width: 88px;
        height: auto;
      }

      &:hover {
        border: 1px solid var(--md-accent-fg-color);
      }
    }
  }

  .post__meta {
    font-family: "Gilroy Bold", Lato, sans-serif;
    font-weight: 300;
    font-size: .6rem;
    color: var(--md-default-fg-color--light);
    text-transform: uppercase;

    .post__meta--date {
    }

    .post__meta--badges {
      float: right;
    }

    a {
      color: var(--md-default-bg-color) !important;
      transition: background-color 300ms !important;
    }

    a:hover {
      background-color: var(--md-accent-fg-color) !important;
    }
  }

  .post__title {
    font-family: "Gilroy Bold", Lato, sans-serif;
    font-weight: 700;
    font-size: 1rem;

    h1 {
      margin: 0;
    }

    a {
      color: var(--md-default-fg-color) !important;
      transition: color 300ms !important;
    }

    a:hover {
      color: var(--md-accent-fg-color) !important;
    }
  }

  .post__content {
    margin-bottom: 1em;
  }

  .post__more {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    font-weight: 700;
  }

  &.small {
    margin: 0;
    display: flex;
    align-items: center;

    .post__badge {
      font-size: .5rem;
      padding: .1rem .3rem;

      .post__badge--seperator {
        margin: 0 .2rem;
      }

      .post__badge--large {
        font-size: 1em;
      }
    }

    .post__inner {
      width: 100%;
    }

    .post__title {
      font-size: .8rem;
    }

    .post__meta {
      font-size: .6rem;
    }
  }
}

.landing {
  h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }
}

.container {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    .top-left {
      position: absolute;
      top: .25rem;
      left: .25rem;
    }

    .top-right {
      position: absolute;
      top: .25rem;
      right: .25rem;
    }

    .bottom-left {
      position: absolute;
      bottom: .25rem;
      left: .25rem;
    }

    .bottom-right {
      position: absolute;
      bottom: .25rem;
      right: .25rem;
    }
  }
}

.card {
  float: right;
  display: block;
  margin-left: .5rem;
  margin-bottom: .2rem;
}

.simple {
  list-style: none;
}