[data-md-color-scheme="hpc"] {
    --md-primary-fg-color:  #111827;
    /*--md-accent-fg-color:   #c81919;*/
    --md-accent-fg-color:   #0392b4;
    --md-typeset-a-color:   var(--md-accent-fg-color);
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:  #111827;
    --md-accent-fg-color:   #0392b4;
    --md-typeset-a-color:   var(--md-accent-fg-color);
}

.md-typeset .md-button {
    color: var(--md-accent-fg-color);
    border-radius: 5px;
}

.md-typeset .md-button:hover {
    color: var(--md-primary-fg-color);
    border-radius: 5px;
}

code {
    line-height: 1.1;
}

.md-tabs__item--right {
    margin-left: auto;
    margin-right: 0;
}

.green {
    color: #008000;
}