<ul class="md-social" style="list-style: none; padding-left: 0; margin: 0; padding: 0">
  {% for social in config.extra.social %}
    {% set rel = "noopener" %}
    {% if "mastodon" in social.icon %}
      {% set rel = rel ~ " me" %}
    {% endif %}
    {% set title = social.name %}
    {% if not title and "//" in social.link %}
      {% set _, url = social.link.split("//") %}
      {% set title  = url.split("/")[0] %}
    {% endif %}
    <li>
      {% include ".icons/" ~ social.icon ~ ".svg" %}
      <a
          href="{{ social.link }}"
          target="_blank" rel="{{ rel }}"
          title="{{ title | e }}"
          class="md-social__link"
      >
        {{ social.short }}
      </a>

    </li>
  {% endfor %}
</ul>