{% if not full %}
  {% set full = 2 %}
{% endif %}
{% if not limit %}
  {% set limit = 7 %}
{% endif %}
<div class="grid cards">
  <ul>
    {% for post in posts[:full] %}
      {% if url_prefix %}
        {% set post_url = url_prefix ~ post.url %}
      {% endif %}
      <li class="container">
        {% include "blog/card-full.html" %}
      </li>
    {% endfor %}
    {% if posts[full:limit] %}
      <li>
        <div class="container">
          <strong>
            MORE ITEMS
            {% set post = posts | first %}
            {% if post %}
              <a style="float: right" href="{{ post.parent.url | url }}">Read more</a>
            {% endif %}
          </strong>
        </div>
        <dl>
          {% for post in posts[full:limit] %}
            {% if url_prefix %}
              {% set post_url = url_prefix ~ post.url %}
            {% endif %}
            <dt class="container">
              {% include "blog/card-small.html" %}
            </dt>
            {% if not loop.last %}
              <dt>
                <hr/>
              </dt>
            {% endif %}
          {% endfor %}
        </dl>
      </li>
    {% endif %}
  </ul>
</div>
