[data-md-color-scheme="tuesc"] {
  --md-default-fg-color: #1a1a1a;
  --md-default-bg-color: #fafafa;

  --md-primary-fg-color: #fafafa;
  --md-primary-bg-color: var(--md-default-bg-color);

  --md-accent-fg-color: #c81919;
  --md-accent-bg-color: #f0f0f0;

  --md-typeset-a-color: #c81919;
}

[data-md-color-scheme="slate"] {
  --md-default-fg-color: #fafafa;
  --md-default-bg-color: #1a1a1a;

  --md-primary-fg-color: var(--md-default-fg-color);
  --md-primary-bg-color: var(--md-default-bg-color);

  --md-accent-fg-color: #c81919;
  --md-accent-bg-color: #0a0a0a;

  --md-typeset-a-color: #c81919;
}

[data-md-color-scheme="autumn"] {
  --md-primary-fg-color: #d58936;
  --md-primary-bg-color: #fafafa;

  --md-accent-fg-color: #a44200;
  --md-accent-bg-color: #f0f0f0;

  --md-typeset-a-color: #d58936;
}

[data-md-color-scheme="spring"] {
  --md-primary-fg-color: #73ae34;
  --md-primary-bg-color: #fafafa;

  --md-accent-fg-color: #38511a;
  --md-accent-bg-color: #f0f0f0;

  --md-typeset-a-color: #73ae34;
}

[data-md-color-scheme="hpclab"] {
  --md-primary-fg-color: #339aa9;
  --md-primary-bg-color: #fafafa;

  --md-accent-fg-color: #103f4f;
  --md-accent-bg-color: #f0f0f0;

  --md-typeset-a-color: #339aa9;
}
