<h2 id="schedule">Schedule</h2>
<section class="schedule-test">

  <div class="grid cards" style="grid-template-columns: 100%;">
    <ul>
      {% for item in post.config.schedule %}
        {% include "blog/event/schedule-item.html" %}
      {% endfor %}
    </ul>
  </div>
  {#  <ul class="table">#}
  {#    {% for item in post.config.schedule %}#}
  {#      {% set type = "main" %}#}
  {#      {% if post.config.schedule | length > 1 %}#}
  {#        {% include "partials/schedule.html" %}#}
  {#      {% endif %}#}
  {#      {% for item in item.schedule %}#}
  {#        {% set type = "child" %}#}
  {#        {% include "partials/schedule.html" %}#}
  {#      {% endfor %}#}
  {#      <li class="row break">#}
  {#        <div class="cell"></div>#}
  {#        <div class="cell"></div>#}
  {#        <div class="cell"></div>#}
  {#      </li>#}
  {#    {% endfor %}#}
  {#  </ul>#}
</section>
