<ul class="author__list">
  {% for speaker in speakers %}
    <li class="author__item">
      {% if speaker.url %}
        <a class="author__link" title="{{ speaker.name }}" href="{{ speaker.url | url }}" target="_blank">
          <img src="{{ speaker.avatar | trim("/") | url }}" alt="{{ speaker.name }}"/>
        </a>
      {% else %}
        <a class="author__link" title="{{ speaker.name }}">
          <img src="{{ speaker.avatar | trim("/") | url }}" alt="{{ speaker.name }}"/>
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
